<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.TURN_SCREEN_ON" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <attribution
        android:label="@string/deskclock_service"
        android:tag="deskclock_service" />

    <!-- DO NOT REMOVE THIS ATTRIBUTE, IT BREAKS THE APP IF YOU DO -->
    <attribution
        android:label="@string/deskclock_service"
        android:tag="@string/empty" />

    <application
        android:name=".DeskClockApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:directBootAware="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeskClock">
        <activity
            android:name=".MainActivity"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="app.grapheneos.deskclock.ACTION_ADD_ALARM" />
                <action android:name="app.grapheneos.deskclock.ACTION_START_TIMER" />
                <action android:name="app.grapheneos.deskclock.ACTION_START_STOPWATCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".alarm.presentation.popup.AlarmPopUpActivity"
            android:attributionTags="deskclock_service"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DeskClock"
            android:turnScreenOn="true" />

        <activity
            android:name=".timer.presentation.popup.TimerPopUpActivity"
            android:attributionTags="deskclock_service"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DeskClock"
            android:turnScreenOn="true" />

        <receiver
            android:name=".alarm.service.AlarmReceiver"
            android:attributionTags="deskclock_service"
            android:directBootAware="true"
            android:exported="false" />

        <receiver
            android:name=".alarm.service.RescheduleReceiver"
            android:attributionTags="deskclock_service"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".alarm.service.AlarmService"
            android:attributionTags="deskclock_service"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Alarm ringing and audio playback" />
        </service>

        <receiver
            android:name=".timer.data.TimerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="app.grapheneos.deskclock.TIMER_PAUSE_RESUME" />
                <action android:name="app.grapheneos.deskclock.TIMER_RESET" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".stopwatch.data.StopwatchReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="app.grapheneos.deskclock.STOPWATCH_START_PAUSE" />
                <action android:name="app.grapheneos.deskclock.STOPWATCH_LAP_RESET" />
            </intent-filter>
        </receiver>

        <service
            android:name=".timer.service.TimerService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Timer running" />
        </service>

        <service
            android:name=".stopwatch.service.StopwatchService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Stopwatch running" />
        </service>

    </application>

</manifest>